################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mask_RCNN_DSB2018/DSB2018/DSB2018.pyproj
/Mask_RCNN_DSB2018/DSB2018/DSB2018.sln
/Mask_RCNN_DSB2018/DSB2018/DSB20181.pyproj
*.sln
*.suo
